<div class="box-container">
    <div class="boxes">
        <div class="box box1">Восстановление техники проводится в специальных помещениях с использованием профессионального оборудования и стендов для сборки/разборки девайсов. Это позволяет выполнять ремонт в разы быстрее. Следующий этап включает в себя финальное тестирование техники и возврат ее владельцу. Мы в «Белом Сервисе» стремимся обеспечивать наивысший уровень качества и поэтому вместе с работоспособной техникой пользователь получает трехмесячную гарантию на все произведенные нами ремонты.</div>
        <div class="box box2">Некоторые мастера «Белого Сервиса» разбирали своими руками еще самый первый айфон,
            а теперь наработанный опыт позволяет им чинить сложнейшие в плане конструкции iPad Pro и iPhone 11.
        </div>
        <div class="box box3">На текущий момент «Белый Сервис» имеет три филиала со своими приемщиками и мастерами. Гибко распределяем рабочую нагрузку: если персонал на одной из точек перегружен заказами, то часть работ передается их менее загруженным коллегам из другого филиала.
            На текущий момент «Белый Сервис» имеет три филиала со своими приемщиками и мастерами. Гибко распределяем рабочую нагрузку: если персонал на одной из точек перегружен заказами, то часть работ передается их менее загруженным коллегам из другого филиала.
        </div>
    </div>
</div>