<div class="banner">
    <div class="container">
        <div class="banner__row">
            <div class="banner__col">
                <h1 class="banner__title">Сервисный центр</h1>
                <p class="banner__subtitle">Ремонт планшетов в Челябинске. Бесплатно продиагностируем и быстро починим любую поломку. Гарантия 3 месяца</p>
                <div class="banner__tab">
                    <p class="banner__tab-text">Записаться на диагностику</p>
                </div>
                <div class="banner__items">
                    <div class="banner__items-row">
                        <div class="banner__item"><img src="assets/images/icons/fix.png" alt=""> Починим даже то, от чего отказались другие</div>
                        <div class="banner__item"><img src="assets/images/icons/close.png" alt="">Гарантия нашего сервиса 3 месяца</div>
                    </div>
                    <div class="banner__items-row">
                        <div class="banner__item"><img src="assets/images/icons/bb.png" alt="">Собственная выгодная бонусная система</div>
                        <div class="banner__item"><img src="assets/images/icons/search.png" alt="">Бесплатная диагностика даже при отказе от ремонта</div>
                    </div>
                </div>
            </div>
            <div class="banner__col banner__col-with-image">
                <img src="assets/images/Rectangle.png" alt="banner">
                <div class="banner__counter">
                    <span class="counter__highlight">12 585</span>
                    <img src="assets/images/svg/smile.svg" alt="smile">
                    <span class="counter__title">Выполненных</br> ремонтов</span>
                </div>
            </div>
        </div>

    </div>
</div>