<div class="servise">
    <div class="container">
        <div class="servise__row">
            <div class="servise__col">
                <div class="servise__item">
                    <img src="../../assets/images/servises/10.png" />
                </div>
                <div class="servise__item">
                    <h2 class="servise__title">Сервисные центры</h2>
                    <p class="servise__text">Первый сервисный центр Белый Сервис распахнул свои двери 28 марта 2012 года по адресу г. Челябинск, ул. Энгельса 75. </p>
                    <p class="servise__text">На текущий момент «Белый Сервис» имеет три филиала со своими приемщиками и мастерами. Гибко распределяем рабочую нагрузку: если персонал на одной из точек перегружен заказами, то часть работ передается их менее загруженным коллегам из другого филиала.</p>
                    <button class="servise__button">Показать адреса</button>
                </div>
            </div>
            <div class="servise__col">
                <div class="servise__item">
                    <img src="../../assets/images/servises/DSC_3362.png" />
                </div>
                <div class="servise__item">
                    <img src="../../assets/images/servises/DSC_3385.png" />
                </div>
            </div>
        </div>
    </div>
</div>