<div class="team">
    <div class="container">
        <h2 class="team__title">Ремонт осуществляется первоклассными специалистами</h2>
        <p class="team__subtitle">Средний опыт работы наших мастеров 4 года</p>

        <div class="items">
            <div class="team_palyer">
                <img class="team_palyer-photo" src="assets/images/persons/Ilya.png">
                <div class="team_palyer-name">Илья</div>
                <p class="team_palyer-description">Мастер по ремонту, опыт 5 лет. В «Белом Сервисе» с июля 2020
                </p>
                <div class="team_palyer-experience">Более 4 800 выполненных работ</div>
                <div class="team_palyer-cloud">Определю любую причину поломки!</div>
            </div>
            <div class="team_palyer">
                <img class="team_palyer-photo" src="assets/images/persons/Alex.png">
                <div class="team_palyer-name">Александр</div>
                <p class="team_palyer-description">Мастер по ремонту, опыт 4,5 года. В «Белом Сервисе» с августа 2020
                </p>
                <div class="team_palyer-experience">Более 5 200 выполненных работ</div>
                <div class="team_palyer-cloud">Верну к жизни, как самые первые модели, так и новинки смартфонов.</div>
            </div>
            <div class="team_palyer">
                <img class="team_palyer-photo" src="assets/images/persons/Andrey.png">
                <div class="team_palyer-name">Андрей</div>
                <p class="team_palyer-description">Мастер по ремонту, опыт 5 лет. В «Белом Сервисе» с июля 2020
                </p>
                <div class="team_palyer-experience">Более 4 000 выполненных работ</div>
                <div class="team_palyer-cloud">Ремонт Apple – мой конек!</div>
            </div>
            <div class="team_palyer">
                <img class="team_palyer-photo" src="assets/images/persons/Dmitry.png">
                <div class="team_palyer-name">Дмитрий</div>
                <p class="team_palyer-description">Мастер по ремонту, опыт 9 лет. В «Белом Сервисе» с марта 2020
                </p>
                <div class="team_palyer-experience">Более 4 800 выполненных работ</div>
                <div class="team_palyer-cloud">Мы даем гарантию
                    и исполняем ее. На технику – это всегда год.</div>
            </div>
            <div class="team_palyer">
                <img class="team_palyer-photo" src="assets/images/persons/Ilya.png">
                <div class="team_palyer-name">Илья</div>
                <p class="team_palyer-description">Мастер по ремонту, опыт 5 лет. В «Белом Сервисе» с июля 2020
                </p>
                <div class="team_palyer-experience">Более 4 800 выполненных работ</div>
                <div class="team_palyer-cloud">Определю любую причину поломки!</div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('.items').slick({
            infinite: true,
            lazyLoad: 'ondemand',
            slidesToShow: 4,
            slidesToScroll: 4
        });
    });
</script>