<div class="upper-line">
    <div class="container">
        <div class="upper-line__wrapper">
            <a class="upper-line__logo">
                <img src="assets/images/logo.png">
            </a>
            <ul class="upper-line__menu">
                <li class="upper-line__link"><a>Контакты</a></li>
                <li class="upper-line__link link__highlighted"><a>Отзывы</a></li>
                <li class="upper-line__link"><a>Гарантия</a></li>
            </ul>
            <div class="upper-line__contact">
                <div class="upper-line__contact-text">Звоните, пн-вс 10:00 - 20:00</div>
                <div class="upper-line__contact-phone">+7 351 220 77 04</div>
            </div>
        </div>
    </div>
</div>