<header id="header">
    {{> upper-lines}}
    <div class="container">
        <ul class="header">
            <li class="header__item header__item-catalog"><a>Каталог</a></li>
            <li class="header__item header__item-apple"><a>Ремонт Apple</a></li>
            <li class="header__item header__item-smartphones"><a>Ремонт смартфонов</a></li>
            <li class="header__item header__item-tablet"><a>Ремонт планшетов</a></li>
            <li class="header__item header__item-laptop"><a>Ремонт ноутбуков</a></li>
        </ul>
    </div>
</header>