<nav class="navigation" id="navbar">
    <div class="container">
        <div class="navigation__wrapper">
            <ul class="navigation__links">
                <li class="nav-link">
                    <button class="btn btn-menu" id="sidebarToggle">Каталог</button>
                </li>
                <li><a href="javasript:;" class="nav-link">Новости</a></li>
                <li><a href="javasript:;" class="nav-link active">О компании</a></li>
                <li><a href="javasript:;" class="nav-link">Скидки</a></li>
                <li><a href="javasript:;" class="nav-link">Скидки</a></li>
                <li><a href="javasript:;" class="nav-link">Услуги</a></li>
                <li><a href="javasript:;" class="nav-link">Дилеры</a></li>
                <li><a href="javasript:;" class="nav-link">Магазины</a></li>
                <li><a href="javasript:;" class="nav-link">Контакты</a></li>
                <li><a href="javasript:;" class="nav-link link__highlighted">Честный знак</a></li>
            </ul>

            <div class="navigation__actions">
                <a href="javasript:;" class="action"><img src="../assets/images/svg/like.svg" /></a>
                <a href="javasript:;" class="action"><img src="../assets/images/svg/shopping.svg" /></a>
                <a href="javasript:;" class="action link"><img src="../assets/images/svg/user.svg" />Войти</a>
            </div>
        </div>
    </div>
</nav>
<!-- breadcrumb -->
<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="javasript:;">Каталог товаров</a></li>
                <li><a href="javasript:;">Спецодежда</a></li>
                <li><a href="javasript:;">Спецодежда зимняя</a></li>
            </ul>
        </div>
    </div>
</div>

<nav class="navigation hidden" id="mw-navbar">
    <button class="btn btn-secondary btn-secondary-clear btn-arrow">Назад</button>
</nav>